body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-right: 10%;
  max-width: 90%;
  margin-left: 10%;
}

.wrapper h1 {
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
}

.project {
  display: flex;
}

.shop {
  flex: 75%;
}

.box {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1%;
  background: #fff;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1%;
}

.box:hover {
  border: none;
  transform: scale(1.01);
}

.box img {
  max-width: 20%;
  object-fit: contain;
}

.content {
  padding: 3%;
  width: 100%;
  position: relative;
}

.content h3 {
  margin-bottom: 2%;
}

.content h4 {
  margin-bottom: 8%;
}

.btn-area {
  position: absolute;
  bottom: 5%;
  right: 3%;
  padding: 1% 2%;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5%;
}

.btn-area a {
  text-decoration: none;
}

.btn-area span,
i {
  color: white;
}

.btn-area:hover {
  background-color: red;
  color: #fff;
  font-weight: bold;
}

.unit input {
  width: 5%;
  padding: 0;
  text-align: center;
}

.right-bar {
  flex: 25%;
  margin-left: 2%;
  padding: 2%;
  height: 1%;
  border-radius: 3%;
  transition: all 0.6s ease;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right-bar:hover {
  border: none;
  transform: scale(1.01);
}

.right-bar hr {
  margin-bottom: 7%;
}

.right-bar p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
  font-size: 20px;
}

.right-bar button {
  background-color: black;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 5%;
  width: 50%;
}

.right-bar button:hover {
  background-color: #2a847b;
}

.right-bar form {
  display: flex;
  justify-content: center;
}

.right-bar i {
  margin-right: 3%;
}

input[type="number"] {
  width: 5%;
  height: 40px;
}

.btn {
  background-color: #218838;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family:
    "Akzidenz Grotesk BQ Medium",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  outline: 0;
  padding: 3px;
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 700px) {
  .content h3 {
    margin-bottom: 15px;
  }

  .content h4 {
    margin-bottom: 20px;
  }

  .btn2 {
    display: none;
  }

  .box {
    height: 150px;
  }

  .box img {
    height: 150px;
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .project {
    flex-direction: column;
  }

  .right-bar {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 95%;
  }
}