h1 {
  text-align: center;
  text-transform: uppercase;
}

body {
  font-family: "Poppins", sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}

table th {
  background-color: #7a0000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #ffedcc;
}

table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

span {
  margin-left: 10%;
  font-weight: bold;
}

.dropdown {
  margin-left: 10%;
  margin-top: 1%;
}

.dropdown > label {
  font-weight: bold;
}

.add {
  margin-left: 10%;
  transition: all 0.3s ease;
  margin-bottom: 1%;
}

.add a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.add:hover {
  transform: scale(1.01);
}

.radio {
  margin-left: 10%;
}

.checkout {
  display: flex;
  justify-content: center;
}

.checkout-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.checkout-btn:hover {
  transform: scale(1.02);
  background-color: lightgreen;
}

.update {
  display: flex;
  justify-content: center;
}

.none {
  display: flex;
  flex-direction: column;
}
