body {
  background-color: white !important;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  margin-top: auto;
}

.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 60%;
  margin-left: 8%;
}

.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 5%;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

@media (max-width: 940px) {
  .product-container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}