body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://wallpaper.dog/large/5488779.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-container {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
  position: relative;
  backdrop-filter: blur(5px);
  /* Aggiunta l'effetto di sfocatura al background */
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"],
.login-container input[type="date"] {
  color: white;
  text-align: center;
  padding: 11px;
  border: 2px solid #3498db;
  border-radius: 20px;
  font-size: 16px;
  width: 230px;
  transition:
    width 0.4s,
    transform 0.4s,
    background-color 0.4s;
  background-color: transparent;
  /* Aggiunta per rendere trasparenti gli input vuoti */
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus,
.login-container input[type="text"]:focus,
.login-container input[type="date"]:focus {
  width: 300px;
  transform: scale(1.02);
  background-color: transparent;
  /* Aggiunta per renderli bianchi durante il focus */
}

.login-container input[type="email"]:not(:placeholder-shown),
.login-container input[type="password"]:not(:placeholder-shown),
.login-container input[type="text"]:not(:placeholder-shown),
.login-container input[type="date"]:not(:placeholder-shown) {
  background-color: transparent;
  /* Aggiunta per renderli bianchi quando sono pieni */
}

.login-container .BorderTopBottom:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  top: -10px;
  left: -7px;
  background: #7a0000;
  transition: all 1s;
}

.login-container .BorderLeftRight:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -7px;
  width: 3px;
  height: 75px;
  background: #3498db;
  transition: all 1s;
}

.login-container .BorderLeftRight:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -7px;
  width: 3px;
  height: 75px;
  background: #7a0000;
  transition: all 1s;
}

.login-container:hover .BorderTopBottom:before,
.login-container:hover .BorderTopBottom:after {
  width: 404px;
  transition: all 1s ease;
}

.login-container:hover .BorderLeftRight:before,
.login-container:hover .BorderLeftRight:after {
  height: 390px;
  transition: all 1s ease;
}

.login-container h1 {
  letter-spacing: 4px;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 25px;
  color: #ff4654;
  text-transform: uppercase;
}

.login-container input#username,
.login-container input#password {
  background: none;
  color: white;
  text-align: center;
  padding: 11px;
  border: 2px solid #3498db;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.4s;
  width: 230px;
}

.login-container input#submit {
  background: #d32f2f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  transition:
    transform 150ms,
    box-shadow 150ms;
}

.login-container input#submit:hover {
  background: #ffffff;
  color: #ff4654;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.login-container a {
  text-decoration: none;
  color: #ff4654;
}

.login-container a:hover {
  color: white;
}

/* Media query per dispositivi con larghezza massima di 600px (ad es. smartphone) */
@media (max-width: 600px) {
  .login-container {
    width: 80%;
    /* Riduco la larghezza del container per adattarsi meglio allo schermo */
  }
}

/* Media query per dispositivi con larghezza massima di 900px (ad es. tablet) */
@media (max-width: 900px) {
  .login-container {
    width: 70%;
    /* Riduco la larghezza del container per adattarsi meglio allo schermo */
  }
}