body {
  background-color: white !important;
}

.slider {
  margin-bottom: 2%;
  margin-top: 2%;
}

.splide__slide {
  margin-right: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.splide__slide button {
  border: none;
  color: white;
}

.splide__slide img {
  width: 100%;
  height: 96%;
  object-fit: cover;
  transition: all 0.6s ease;
}

.splide__slide img:hover {
  transform: scale(1.02);
}

.splide__slide > div {
  text-align: center;
}

.splide__pagination {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 1%;
}

#heroSection {
  height: 50vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

.heroVideoContainer {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  overflow: hidden;
}

.heroVideoContainer video {
  width: 100%;
  height: 200%;
  object-fit: cover;
  transform: translateY(-5%);
}

.heroText {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  padding-bottom: 10%;
}

.heroText > h1 {
  color: white;
  font-size: 48px;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

.fieldcenter {
  margin: auto;
  margin-bottom: 1%;
}
