name: Security Pipeline

on:
    workflow_run:
        workflows: ["Build and Analyze"]
        types:
            - completed
        branches: [main]

    workflow_dispatch:

permissions:
    contents: read

jobs:
    scanning:
        name: Security Scannings
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') }}

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0

            - name: GitGuardian scan
              uses: GitGuardian/ggshield/actions/secret@v1.45.0
              env:
                  GITHUB_PUSH_BEFORE_SHA: ${{ github.event.before }}
                  GITHUB_PUSH_BASE_SHA: ${{ github.event.base }}
                  GITHUB_PULL_BASE_SHA: ${{ github.event.pull_request.base.sha }}
                  GITHUB_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
                  GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}

            - name: Setup Snyk CLI
              uses: snyk/actions/setup@master
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

            - name: Snyk SAST
              run: snyk code test --severity-threshold=high
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

            - name: Snyk Maven Scan
              uses: snyk/actions/maven-3-jdk-17@master
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              with:
                  args: --severity-threshold=high

            # Build Docker image (multi-stage: Maven build + runtime image)
            - name: Build Docker Image
              run: docker build -t vaporantsd-app .

            - name: Snyk Docker Scan
              uses: snyk/actions/docker@master
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              with:
                  image: vaporantsd-app
                  args: --severity-threshold=high

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Tag and Push Docker Image
              if: success()
              run: |
                  docker tag vaporantsd-app ${{ secrets.DOCKER_USERNAME }}/vaporantsd-app:latest
                  docker push ${{ secrets.DOCKER_USERNAME }}/vaporantsd-app:latest
